PORT=5000
MONGODB_URI=your_mongodb_connection_string_here
JWT_SECRET=super_secret_jwt_key
CLIENT_URL=http://localhost:5173
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=user
SMTP_PASSWORD=pass
SMTP_FROM=noreply@halalwealthsummit.com